{% extends "base.html" %}

{% block main %}

    <div id="insert-message-div">
        <p id="insert-message">Insert URL to check for discount</p>
    </div>
    <div id="input-box-div">
        <form id="add_product-form" action="/add_product" method="POST">
            <div id="button-wrapper">
                <input id="URL-input" type="text" name="URL">
                <button class="button" id="submit-btn" type="submit">Check</button>
                <div id="loading-spinner" style="size: 10px;">
                    <img src="../static/images/spinner.png" alt="loading..." class="spinner-image">
                </div>
            </div>
        </form>
        <div id="feedback-message"></div>
    </div>
    <div id="supported-websites-div">
        <H6>Supported websites:</H1>
        <a id="bol-link" target="_blank" href="https://www.bol.com/nl/nl/">Bol.com</a>
    </div>
    

        <div id="product-table-div">
                <table id="product-table">
                    <thead id="product-table-head">
                    <tr>
                        <th class="name-head" scope="col">Product</th>
                        <th class="price-head" scope="col">Current price</th>
                        <th class="price-head" scope="col">Original Price</th>
                        <th class="price-head savings-head" scope="col">Savings</th>
                    </tr>
                    </thead>
                        <tbody id="product-table-body">
                            {% for product in products %}
                            <tr class="product-row" id="product-{{ product.id }}">
                                <td class="product-name-td"> 
                                    <a target="_blank" class="product-name" id="name-{{ product.id }}" href="{{product["URL"]}}">{{product["name"]}}</a>
                                    <button class="button remove-btn" id="remove-btn" onclick="remove_row(this)">Remove</button>
                                </td>
                                <td class="current-price" id="current-price-{{ product.id }}">{{ "€%.2f"|format(product["currentPrice"]) }}</td>
                                <td class="og-price" id="og-price-{{ product.id }}">{{ "€%.2f"|format(product["ogPrice"]) }}</td>
                                {% if (product["ogPrice"] - product["currentPrice"]) > 0 %}
                                    <td class="savings-up" id="savings-{{ product.id }}">{{ "€%.2f"|format(product["ogPrice"] - product["currentPrice"]) }}</td>
                                {% else %}
                                    <td class="savings-down" id="savings-{{ product.id }}">{{ "€%.2f"|format(product["ogPrice"] - product["currentPrice"]) }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>




<script>
    // Feedback message Function, make this its own function in a separate file for re use
    document.getElementById("add_product-form").addEventListener("submit", function(e) {
        e.preventDefault()

        const submitButton = document.getElementById("submit-btn");
        const loadingSpinner = document.getElementById("loading-spinner");
        if (loadingSpinner) {
            loadingSpinner.classList.add("visible");
            document.getElementById('feedback-message').innerHTML = "Getting product data..."
            submitButton.disabled = true;
        }

        const formData = new FormData(this);

        fetch('/add_product', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Create specific feedback message that fades out after 3 seconds using fadeOut()
            const messageDiv = document.getElementById('feedback-message');
            messageDiv.innerHTML = data.message;
            messageDiv.className = data.success ? 'success-message' : 'error-message';
            messageDiv.style.display = 'block';

            messageDiv.style.opacity = 1;
            fadeOut(messageDiv, submitButton);
                
            // Table only gets updated when the request is succesfull
            if (data.success === true){

                // Check if empty table row exists, if so, remove it so it can be replaced
                // by the newly requested product
                const emptyTableRow = document.getElementById('empty-table-row')
                if (emptyTableRow) {
                    emptyTableRow.remove()
                }

                // empty form input field only when request is successful
                document.getElementById('URL-input').value = "";

                //Function found in main.js
                const tableBody = document.getElementById('product-table-body')
                updateProductTable(data.product_data, tableBody)
            }
            loadingSpinner.classList.remove("visible");
        })
        .catch(error => {
            // Create error feedback message that fades out after 3 seconds using fadeOut()
            console.error('Error:', error);
            const messageDiv = document.getElementById('feedback-message');
            messageDiv.innerHTML = 'An error occurred while adding the product.';
            messageDiv.className = 'error-message';
            messageDiv.style.display = 'block';

            loadingSpinner.classList.remove("visible");
            submitButton.disabled = false;
            
            messageDiv.style.opacity = 1;
            fadeOut(messageDiv, submitButton)
        });
    });

    window.addEventListener('load', function() {
        const { totalRows, tableBody } = checkRows();

        if (totalRows === 0) {
            emptyTableMessage(tableBody)
        }
    });

</script>

{% endblock %}